@font-face {
  font-family: 'Work Sans';
  font-weight: 100px;
  src: url(../../fonts/WorkSans-Thin.ttf);
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 100px;
  font-style: italic;
  src: url(../../fonts/WorkSans-ThinItalic.ttf);
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 200px;
  src: url(../../fonts/WorkSans-ExtraLight.ttf);
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 200px;
  font-style: italic;
  src: url(../../fonts/WorkSans-ExtraLightItalic.ttf);
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 300px;
  src: url(../../fonts/WorkSans-Light.ttf);
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 300px;
  font-style: italic;
  src: url(../../fonts/WorkSans-LightItalic.ttf);
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 400px;
  src: url(../../fonts/WorkSans-Regular.ttf);
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 500px;
  src: url(../../fonts/WorkSans-Medium.ttf);
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 500px;
  font-style: italic;
  src: url(../../fonts/WorkSans-MediumItalic.ttf);
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 600px;
  src: url(../../fonts/WorkSans-SemiBold.ttf);
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 600px;
  font-style: italic;
  src: url(../../fonts/WorkSans-SemiBoldItalic.ttf);
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 700px;
  src: url(../../fonts/WorkSans-Bold.ttf);
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 700px;
  font-style: italic;
  src: url(../../fonts/WorkSans-BoldItalic.ttf);
}


@font-face {
  font-family: 'Work Sans';
  font-weight: 800px;
  src: url(../../fonts/WorkSans-ExtraBold.ttf);
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 800px;
  font-style: italic;
  src: url(../../fonts/WorkSans-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 900px;
  src: url(../../fonts/WorkSans-Black.ttf);
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 900px;
  font-style: italic;
  src: url(../../fonts/WorkSans-BlackItalic.ttf);
}