// fonts
$text-size-normal: 1.6rem;
$color-normal: #fefefe;

// buttons
$btn-padding-normal: 8px 10px;
$btn-margin-normal: auto;
$btn-border-radius-normal: 5px;
$btn-primary-color: #f52871;
$btn-text-color: $color-normal;

// layouts
$header-background-color: #1e1f24;
$header-border-color: #2e3145;
$header-height: 60px;
$content-background-color: #16171b;

// coin
$coin-width: 250px;
$coin-height: 300px;
$coin-border-color: $header_border-color;

// footer
$footer-height: 50px;

// responsive
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;