// fonts
$text-size-normal: 1.6rem;
$color-normal: #fefefe;

// buttons
$btn-padding-normal: 8px 10px;
$btn-margin-normal: auto;
$btn-border-radius-normal: 5px;
$btn-primary-color: #f52871;
$btn-text-color: $color-normal;

// layouts
$header-background-color: #1e1f24;
$header-border-color: #2e3145;
$header-height: 60px;
$content-background-color: #16171b;