// fonts
$text-size-normal: 1.6rem;
$color-normal: #fefefe;

// buttons
$btn-padding-normal: 5px 10px;
$btn-margin-normal: auto 5px;
$btn-border-radius-normal: 5px;
$btn-primary-color: #f52871;
$btn-text-color: $color-normal;

// Header
$header-background-color: #1e1f24;
$header-border-color: #2e3145;