.header {
	width: 100%;
	height: $header-height;
	position: fixed;
	z-index: 1;

	display: flex;
	justify-content: space-between;
	padding-left: 50px;
	padding-right: 50px;

	border-bottom: 2px solid $header-border-color;
	background-color: $header-background-color;

	@media (max-width: 460px) {
		&__right {
			display: none;
		}
	}
}

.nav {
	display: flex;
	justify-content: space-around;
}